<div class="px-3 md:px-24 py-8 relative bg-[#ebe6d1] min-h-screen"> asdf</div>

<!-- <div class="relative bg-[#FFFDF3]">

    <div class="px-8 md:px-24 grid md:grid-cols-2 pt-12 z-2 relative pb-6">
        <div class="font-bold text-4xl md:text-5xl text-center md:text-left">Because they love us</div>
        <div class="text-center mt-5 md:mt-0">
            <div class="md:float-right">
                <button
                    class="font-semibold w-12 h-12 text-lg mr-4 border-amber-900 text-amber-900 border-2 py-2 px-2 border-solid rounded-full hover:bg-white"><i
                        class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <button
                    class="font-semibold w-12 h-12 text-lg mr-4 border-amber-900 text-amber-900 border-2 py-2 px-2 border-solid rounded-full hover:bg-white"><i
                        class="fa fa-arrow-right" aria-hidden="true"></i></button>

            </div>
        </div>

    </div>
    <div id="testimonials" #test1 class="overflow-hidden scroll-smooth px-8 py-8">
        <div class="flex2 py-12 gap-1 w-full grid grid-flow-col justify-content-start md:justify-normal z-10 relative">
            <div class="mx-3 rounded-xl flex flex-col overflow-hidden shadow-sm border-2 border-gray-50 shadow-[rgba(41,41,41,0.22)] bg-white w-64"
                *ngFor="let item of testimonials">

                <div class="px-5 py-5 grow">
                    <div class="font-bold text-lg mb-4 text-slate-600"><i class="fa fa-user" aria-hidden="true"></i> {{
                        item.author }}</div>
                    <p class="text-black font-semibold text-base">
                        {{ item.comment }}
                    </p>
                </div>
                <div class="px-5 py-5 text-center">
                    <div class="flex">
                        <div><img class="h-12 w-12 object-cover rounded-full" src="{{ item.img }}"></div>
                        <div class="grid grid-flow-row grid-cols-1 ml-3 mt-0.5 align-middle">
                            <div class="text-sm font-semibold text-left">{{ item.realname }}</div>
                            <div class="text-xs text-left text-slate-500">{{ item.title }}</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div> -->