<!-- Header part-1 -->
<div class="header1 w-full bg-[#FFFBEC]">
    <div class="flex align-middle mx-3 md:mx-16 flex-row">
        <div class="flex-none px-7 py-7">
            <h1 class="font-bold text-amber-900 text-2xl md:text-3xl">Collers</h1>

        </div>
        <div class="grow justify-items-end">

            <div
                class="flex py-7 mr-4 justify-end md:hidden justify-content-end text-right justify-self-end justify-items-end">
                <button onclick="document.getElementById('topMenuList').classList.toggle('hidden')">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 5.5H13" stroke="#78350F" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M21 12.5H8" stroke="#78350F" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M21 19.5H3" stroke="#78350F" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>

            <ul id="topMenuList" class="text-amber-900 font-semibold justify-end flex-col hidden md:flex-row md:flex">
                <li class="my-8 mx-4"><a href="#"
                    class="hover:border-amber-900 hover:border-b-4 py-1 hover:border-solid relative">Quiz App<span class="rounded-full bg-amber-600 -top-2.5 -right-4 absolute py-0.5 px-2 text-[10px] text-white">New</span></a></li>
                <li class="my-8 mx-4"><a href="#"
                        class="hover:border-amber-900 hover:border-b-4 py-1 hover:border-solid">Products</a></li>
                <li class="my-8 mx-4"><a href="#"
                        class="hover:border-amber-900 hover:border-b-4 py-1 hover:border-solid">Solutions</a></li>
                <li class="my-8 mx-4"><a href="#"
                        class="hover:border-amber-900 hover:border-b-4 py-1 hover:border-solid">Pricing</a></li>
                <li class="my-8 mx-4"><a href="#"
                        class="hover:border-amber-900 hover:border-b-4 py-1 hover:border-solid">Resources</a></li>
                <li class="my-8 mx-4"><a href="#"
                        class="hover:border-amber-900 hover:border-b-4 py-1 hover:border-solid">Log In</a></li>
                <li class="my-8 mx-4"><a
                        class="border-amber-900 border-2 py-2 px-3 border-solid rounded-lg hover:bg-amber-900 hover:text-white"
                        href="#">Sign up now</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Header part-2 -->

<div class="min-h-screen">

</div>

<!-- Footer -->
<div class="footer px-24 bg-[#0F172A] text-white text-sm">
    <div class="grid grid-cols-1 md:grid-cols-4 ">
        <div class="my-7">
            <ul class="text-center md:text-left">
                <li class="text-white py-2 font-semibold">Product</li>
                <li class="text-gray-400 py-2">Pricing</li>
                <li class="text-gray-400 py-2">Overview</li>
                <li class="text-gray-400 py-2">Browse</li>
                <li class="text-gray-400 py-2">Accessibility</li>
                <li class="text-gray-400 py-2">Five</li>
            </ul>
        </div>
        <div class="my-7">
            <ul class="text-center md:text-left">
                <li class="text-white py-2 font-semibold">Solutions</li>
                <li class="text-gray-400 py-2">Pricing</li>
                <li class="text-gray-400 py-2">Overview</li>
                <li class="text-gray-400 py-2">Browse</li>
                <li class="text-gray-400 py-2">Accessibility</li>
                <li class="text-gray-400 py-2">Five</li>
            </ul>
        </div>
        <div class="my-7">
            <ul class="text-center md:text-left">
                <li class="text-white py-2 font-semibold">Support</li>
                <li class="text-gray-400 py-2">Contact Us</li>
                <li class="text-gray-400 py-2">Developers</li>
                <li class="text-gray-400 py-2">Documentation</li>
                <li class="text-gray-400 py-2">Integrations</li>
                <li class="text-gray-400 py-2">Reports</li>
            </ul>
        </div>
        <div class="my-7">
            <ul class="text-center md:text-left">
                <li class="text-white py-2 font-semibold">Get the App</li>
                <li class="text-gray-400 py-2">Pricing</li>
                <li class="text-gray-400 py-2">Overview</li>
                <li class="text-gray-400 py-2 mt-3 ">
                    <span class="font-semibold text-white">Follow us</span>
                    <ul class="flex justify-center md:justify-start">
                        <li class="text-gray-400 py-2 px-2">yt</li>
                        <li class="text-gray-400 py-2 px-2">fb</li>
                        <li class="text-gray-400 py-2 px-2">twit</li>
                        <li class="text-gray-400 py-2 px-2">insta</li>
                        <li class="text-gray-400 py-2 px-2">linked</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <hr class="border-t-gray-700">
    <div class="py-4 grid grid-cols-1 md:grid-cols-2 text-gray-400">
        <div class="py-2 text-center md:text-left">Collers &copy; 2023. All rights reserved. - Angular 16 + Tailwind App - github.com/mcakici </div>
        <div>
            <ul class="flex justify-center md:justify-end">
                <li class="text-gray-400 py-2 px-2">Terms</li>
                <li class="text-gray-400 py-2 px-2">Privacy</li>
                <li class="text-gray-400 py-2 px-2">Contact</li>
                <li class="text-gray-400 py-2 px-2">EN</li>
            </ul>
        </div>

    </div>
</div>