/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fontawesome-4.7/css/font-awesome.css";

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
