<!-- homepage - 1 -->
<div class="w-full relative bg-gradient-to-b from-[#FFFBEC] to-[#f7f5ef] overflow-hidden">

    <div class="px-3 md:px-24 min-h-[520px]">
        <div class="z-50 relative">
            <div class="grid md:grid-cols-2">
                <div class="grid grid-cols-1 text-center md:text-left z-5">
                    <div class="font-bold text-3xl md:text-5xl pt-16 pb-5">Collectible Sneakers</div>
                    <span class="font-semibold max-w-xl">Sit elit feugi,at turpis sed integer integer accumsam turpis.
                        Sed
                        suspendisse nec lorem mauris.
                        Pharetra, eu
                        imperdier ipsum ultrices amet.</span>
                    <div class="flex gap-2 mt-8 md:mt-2 justify-center md:justify-start">
                        <div><button
                                class="font-semibold text-amber-900 border-amber-900 border-2 py-2 px-3 border-solid rounded-lg hover:bg-amber-900 hover:text-white">Sign
                                up now</button></div>
                        <div><button
                                class="font-semibold text-amber-900 border-transparent border-2 py-2 px-3 border-solid rounded-lg hover:bg-amber-900 hover:text-white"><i
                                    class="fa fa-play-circle-o" aria-hidden="true"></i> Watch Demo</button></div>
                    </div>
                </div>
                <div>
                    <div class="float-right relative">
                        <img class="-rotate-12 mt-3 z-10 relative"
                        src="https://izicop.com/cdn/shop/products/NikeCraft_General_Purpose_Shoe_Tom_Sachs_Dark_Sulfur-DA6672-700-0.png" />
                        <div class="absolute z-0 bg-[#FBBF24] bg-opacity-40 rounded-2xl w-[70%] h-[100%] top-8 left-24 shadow-md shadow-[rgba(41,41,41,0.12)]"></div>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-3 gap-12 py-16 text-center md:text-left">
                <div>
                    <div><i class="fa fa-trophy fa-4x text-cyan-500" aria-hidden="true"></i></div>
                    <h3 class="font-bold py-4">Nibh viverra</h3>
                    <p>Sit bibendum donec dolar fames neque vulputate non sit aliquam. Consequat turpis natoque leo,
                        massa.</p>
                </div>

                <div>
                    <div><i class="fa fa-snapchat-ghost fa-4x text-green-500" aria-hidden="true"></i></div>

                    <h3 class="font-bold py-4">Cursus amet</h3>
                    <p>Sit bibendum donec dolar fames neque vulputate non sit aliquam. Consequat turpis natoque leo,
                        massa.</p>
                </div>

                <div>
                    <div><i class="fa fa-television fa-4x text-red-700" aria-hidden="true"></i></div>
                    <h3 class="font-bold py-4">Ipsum lorem</h3>
                    <p>Sit bibendum donec dolar fames neque vulputate non sit aliquam. Consequat turpis natoque leo,
                        massa.</p>
                </div>
            </div>
        </div>
    </div>

    <div
        class="absolute bg-[rgba(254,243,199,0.5)] -rotate-[16deg] md:-rotate-[14deg] top-1/2 md:top-1/4 left-1/6 w-[180%] h-screen rounded-sm">
    </div>

</div>

<!-- homepage - 2 -->
<div class="px-8 md:px-24 py-8 bg-[#0F172A] text-white text-sm min-h-[150px]">
    <div class="grid md:grid-cols-2 pt-12">
        <div class="font-bold text-4xl md:text-5xl text-center md:text-left">The best of the best</div>
        <div class="text-center mt-5 md:mt-0"><button
                class="font-semibold text-lg md:float-right mr-4 border-white border-2 py-3 px-8 border-solid rounded-lg hover:text-black hover:bg-white">Sign
                up now</button></div>
    </div>
    <div class="grid md:grid-cols-3 py-12 gap-16">

        <div class="rounded overflow-hidden shadow-xl shadow-[rgba(117,141,199,0.35)]"
            *ngFor="let item of ['https://media.gq.com/photos/59135193dd27d21b427e26be/16:9/w_2560%2Cc_limit/acg-sneakers.jpg','https://images.pexels.com/photos/3490360/pexels-photo-3490360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500','https://static.nike.com/a/images/f_auto/dpr_3.0,cs_srgb/h_500,c_limit/f55bf732-7fa9-4b38-8464-3332d97f879a/nike%E2%80%99s-best-casual-shoes-for-everyday-wear.jpg']">
            <img class="h-72  object-cover w-full" src="{{ item }}">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-4">Title</div>
                <p class="text-white text-base">
                    Egestas elit dui scelerisque ut eu purus aliquam fvitae habitasse.
                </p>
            </div>
            <div class="px-6 pt-4 pb-8 text-center">
                <button
                    class="font-semibold text-1xl block w-full border-white border-2 py-3 px-8 border-solid rounded-lg hover:text-black hover:bg-white"><i
                        class="fa fa-shopping-cart" aria-hidden="true"></i> Buy Now</button>
            </div>
        </div>

    </div>
</div>


<!-- homepage - 3 -->
<div class="bg-[#FFFDF3] px-8 md:px-24 py-8 min-h-[150px]">
    <div class="relative my-20">
        <div
            class="grid md:grid-cols-2 shadow-lg border-2 border-gray-50 shadow-[rgba(41,41,41,0.14)] bg-white rounded-xl">
            <div class="m-16">
                <div class="">
                    <div class="font-bold text-4xl md:text-5xl text-center md:text-left mb-8">Why join us</div>
                    <ul class="space-y-2 font-semibold">
                        <li><i class="fa fa-check text-green-600 mr-2" aria-hidden="true"></i>Est et in pharetra magna
                            adipiscing ornare aliquam.</li>
                        <li><i class="fa fa-check text-green-600 mr-2" aria-hidden="true"></i>Tellus arcu sed consequat
                            ac velit ut eu blandit.</li>
                        <li><i class="fa fa-check text-green-600 mr-2" aria-hidden="true"></i>Ullamcorper ornare in et
                            egestas dolor orci.</li>
                    </ul>
                    <div class="mt-5 text-center md:text-left"><button
                            class="font-semibold text-amber-900 border-amber-900 border-2 py-2 px-8 border-solid rounded-lg hover:bg-amber-900 hover:text-white">Sign
                            up now</button></div>


                </div>
            </div>
            <div>
                <div class="align-middle justify-center h-100">
                    <div
                        class="grid grid-flow-row rounded-lg border border-slate-100 scale-75  w-fit">
                        <div class="px-3 rounded-t-lg bg-white z-20 -mb-1">
                            <i class="fa fa-circle scale-75 text-red-500 mr-1" aria-hidden="true"></i>
                            <i class="fa fa-circle scale-75 text-yellow-400 mr-1" aria-hidden="true"></i>
                            <i class="fa fa-circle scale-75 text-green-500 mr-1" aria-hidden="true"></i>
                        </div>
                        <div class="relative">
                            <div class="relative z-20 bg-white p-1.5 rounded-b-lg shadow-lg shadow-[rgba(41,41,41,0.22)]">
                                <img class="object-cover rounded-b-lg brightness-90"
                                    src="https://www.kreedon.com/wp-content/uploads/2019/12/people-wearing-running-shoes-2526878-696x392.jpg.webp">
                                <button onclick="alert('Play video');" class="absolute text-white color top-[35%] left-[42%]">
                                    <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="absolute bg-[#FDE68A] w-[120%] h-[60%] bottom-14 left-0 -rotate-45 z-0 shadow-md shadow-[rgba(41,41,41,0.12)]"></div>
                            <div class="absolute bg-pink-700 bg-opacity-70 rounded-2xl w-[40%] h-[70%] -bottom-32 -right-36 z-10 shadow-md shadow-[rgba(41,41,41,0.12)]"></div>
                            <div class="absolute bg-purple-800 bg-opacity-70 rounded-2xl w-[18%] h-[30%] -bottom-16 right-8 z-10 shadow-md shadow-[rgba(41,41,41,0.12)]"></div>
                            <div class="absolute bg-amber-700 bg-opacity-70 rounded-2xl w-[18%] h-[30%] -top-16 -left-4 z-10 shadow-md shadow-[rgba(41,41,41,0.12)]"></div>
                            <div class="absolute bg-green-800 bg-opacity-70 rounded-full w-[20%] h-[35%] -bottom-12 left-24 z-20 shadow-md shadow-[rgba(41,41,41,0.12)]"></div>
                            <div class="absolute bg-blue-600 bg-opacity-70 rounded-full w-[14%] h-[25%] -top-24 -right-12 z-20 shadow-md shadow-[rgba(41,41,41,0.12)]"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<!-- homepage - 4 -->
<div class="relative bg-[#FFFDF3]">
    <span class="absolute ml-8 md:ml-24 bg-[#FDE68A] w-11/12 h-64 mt-5 top-1/4"></span>
    <div class="px-8 md:px-24 grid md:grid-cols-2 pt-12 z-2 relative pb-6">
        <div class="font-bold text-4xl md:text-5xl text-center md:text-left">Because they love us</div>
        <div class="text-center mt-5 md:mt-0">
            <div class="md:float-right">
                <button
                    class="font-semibold w-12 h-12 text-lg mr-4 border-amber-900 text-amber-900 border-2 py-2 px-2 border-solid rounded-full hover:bg-white"
                    (click)="scrollLeft()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <button
                    class="font-semibold w-12 h-12 text-lg mr-4 border-amber-900 text-amber-900 border-2 py-2 px-2 border-solid rounded-full hover:bg-white"
                    (click)="scrollRight()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>

            </div>
        </div>

    </div>
    <div id="testimonials" #test1 class="overflow-hidden scroll-smooth px-8 py-8">
        <div class="flex2 py-12 w-full grid grid-flow-col justify-content-start md:justify-normal z-10 relative">
            <div class="rounded-xl ml-8 flex flex-col overflow-hidden shadow-sm border-2 border-gray-50 shadow-[rgba(41,41,41,0.22)] bg-white w-64"
                *ngFor="let item of testimonials; let last = last">
                <div class="px-5 py-5 grow">
                    <div class="font-bold text-lg mb-4 text-slate-600"><i class="fa fa-user" aria-hidden="true"></i> {{
                        item.author }}</div>
                    <p class="text-black font-semibold text-base">
                        {{ item.comment }}
                    </p>
                </div>
                <div class="px-5 py-5 text-center">
                    <div class="flex">
                        <div><img class="h-12 w-12 object-cover rounded-full" src="{{ item.img }}"></div>
                        <div class="grid grid-flow-row grid-cols-1 ml-3 mt-0.5 align-middle">
                            <div class="text-sm font-semibold text-left">{{ item.realname }}</div>
                            <div class="text-xs text-left text-slate-500">{{ item.title }}</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>